*{
  box-sizing:border-box;
  font-family: 'Hind Vadodara', sans-serif;
}

.grid{
  display: grid;
}

.container{
  display:flex;
}

.column{
  flex-direction:column;
}

.super{
  width:100%;
  min-height:100vh;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 75px auto 35px; 
  grid-row-gap: 20px;
  position: relative;
}

header{
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 1;
  display: subgrid;
  background-color:#70146a;
  font-weight:600;
  color:#fc5e21;
  display:grid;
  grid-template-columns: 10% 80% 10%;
}

.headerContent{
  grid-column-start: 2;
  grid-column-end: span 1;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items: center;
}

body{
  background-color:#C45AB3;
}

.bg{
  position:absolute;
  z-index:-1111;
  width:100%;
  height:100%;
  overflow:hidden;
}

.bg-pattern{
  width:200%;
  margin-left:-600px;
  margin-top:-600px;
  height:auto;
  opacity:.3;
}

footer{
  margin-top:35px;
  margin-bottom:-35px;
  background-color:rgba(112, 20, 106, .5);
  text-align:center;
  color:white;
  font-size:10px;
  align-items: center;
  justify-content: center;
  grid-column-start:1;
  grid-column-end:span 3;
  grid-row-start:3;
  grid-row-end: span 1
}

main{
  z-index:0;
  grid-column-start:2;
  grid-column-end:span 1;
  grid-row-start:2;
  grid-row-end: span 1;
}

.logo{
  display:flex;
  flex-direction:column;
  width:107.77px;
}

button.headerLogin{
  font-size:20px;
  padding:5px;
  width:100px;
  height:50px;
  margin-top:auto;
  margin-bottom:auto;
  transition: .3s ease-in-out;
}

button.headerLogin:hover{
  transition: .3s ease-in-out;
  background-color:#70146a;
  color:#fc5e21;
}