main.login{
  grid-template-columns: 50%;
  margin-top:20px;
}

.wowImg{
  align-items:center;
  grid-column-start: 1;
  grid-column-end: span 1;
  padding-bottom:50vh;
}

.landingCopy{
  grid-column-start:2;
  grid-column-end: span 1;
  align-items: center;
  justify-content:center;
  padding-bottom:50vh;
}

.infoText{
  margin-top:20px;
  color:white;
  font-size:2vw;
  text-align:center;
  p{
    font-family: 'Varela Round', sans-serif;
    margin-top:10px;
    margin-bottom:10px;
    line-height: 1.2;
  }
}

.mandala{
  width:100%;
  margin:auto;
}

.namaste{
  font-weight:600;
  font-size:9vw;
  min-width:7px;
}

.helloText{
  padding-right:5px;
  color:white;
}

@keyframes cursor-blink{
  0%{opacity:1;}
  50%{opacity:0;}
  100%{opacity:1;}
}

.cursor{
  background-color:white;
  width:5px;
  height:9vw;
  animation-name:cursor-blink;
  animation-duration:1.5s;
  animation-iteration-count:infinite;
}

button.login{
  font-family: 'Varela Round', sans-serif;
  margin:auto;
  margin-top:10px;
  outline:none;
  width:100%;
  height:100%;
  padding:1.5vw;
  border: none;
  border-radius:30rem;
  background-color:#70146a;
  font-size:2vw;
  color:white;
  transition: background-color .5s ease-in-out;
}

button.login:hover{
  transition: background-color .5s ease-in-out;
  background-color:#fc5e21;
  cursor: pointer;
}

div.login{
  margin-top:auto;
  margin-bottom:auto;
}

.google{
  margin-top:5px;
  color:white;
  font-size:1vw;
}

.latin{
  margin-top:-5px;
  text-align: center;
  font-weight:400;
}

.hindi{
  font-size:40px;
  margin-bottom:3px;
}

@media only screen 
and (max-width: 1024px) 
and (orientation: portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
  .super{
    overflow-x: hidden;
  }
  .bg{
    display:none;
  }
  main.login{
    margin-top:20px;
    grid-template-columns: 100%;
    grid-template-rows:auto auto;
  }
  .wowImg{
    grid-row-start:1;
    z-index: -99;
    grid-row-end: span 1;
    grid-column-start: 1;
    padding-bottom:10px;
    opacity: .3;
    width:fit-content;
  }
  .landingCopy{
    grid-row-start:1;
    grid-column-start:1;
    padding:5vh;
    padding-top:0px;
  }
  .infoText{
    margin-top:20px;
    font-size:5vw;
    text-align:center;
    p{
      font-family: 'Varela Round', sans-serif;
      margin-top:10px;
      margin-bottom:10px;
      line-height: 1.2;
    }
  }
  .namaste{
    font-size: 15vw;
  }
  .mandala{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    transform: scale(2);
    z-index: -99;
  }
  .cursor{
    height: 15vw;
  }
  header{
    z-index: 100;
  }
  button.login{
    width:70vw;
    height:6vh;
    font-size: 3vh;
  }
  .google{
    font-size:1vh;
  }
}