*{
  box-sizing:border-box;
  font-family: 'Hind Vadodara', sans-serif;
}

.container{
  display:flex;
}

header{
  width:100%;
  background-color:red;
  display:flex;
  padding:15px;
  font-weight:600;
  color:white;
}

.logo{
  display:flex;
  flex-direction:column;
}

.latin{
  margin-top:-5px;
  text-align: right;
  font-weight:400;
}

.hindi{
  font-size:40px;
  margin-bottom:3px;
}