*{
  box-sizing:border-box;
  font-family: 'Hind Vadodara', sans-serif;
}

.container{
  display:flex;
}

.column{
  flex-direction:column;
}

body{
  background-color:#C45AB3;
}

header{
  width:100%;
  background-color:#70146a;
  display:flex;
  padding:10px;
  padding-left:50px;
  padding-right:50px;
  font-weight:600;
  color:#fc5e21;
}

.logo{
  display:flex;
  flex-direction:column;
}

.latin{
  margin-top:-5px;
  text-align: center;
  font-weight:400;
}

.hindi{
  font-size:40px;
  margin-bottom:3px;
}

/* .parent{
  max-width:500px;
  margin:auto;
  margin-top:30px;
  height:600px;
} */

.namaste{
  margin-right:auto;
  margin-left:auto;
  margin-top:20px;
  font-weight:600;
  font-size:80px;
  min-width:7px;
}

.helloText{
  padding-right:5px;
  color:white;
}

@keyframes cursor-blink{
  0%{opacity:1;}
  50%{opacity:0;}
  100%{opacity:1;}
}

.landing{
  width:100%;
  overflow:hidden;
}

.cursor{
  background-color:white;
  width:5px;
  height:80px;
  animation-name:cursor-blink;
  animation-duration:1.5s;
  animation-iteration-count:infinite;
}

.mandala{
  width:100%;
  /* height:100%; */
  margin-top:-15px;
}

.bg{
  position:absolute;
  z-index:-1111;
  width:100%;
  height:85%;
  overflow:hidden;
}

.bg-pattern{
  width:200%;
  margin-left:-600px;
  margin-top:-600px;
  height:auto;
  opacity:.3;
}

footer{
  width:100%;
  background-color:#70146a;
  height:5%;
  position:absolute;
  bottom:0;
  text-align:center;
  color:white;
  font-size:10px;
  align-items: center;
  justify-content: center;
}

.halfScreen{
  width:50%; 
  padding-top:30px;
  padding-left:50px;
  padding-right:50px;
  align-items:center;
}

.infoText{
  margin-top:20px;
  color:white;
  font-size:2vw;
  text-align:center;
}

.infoText > p{
  font-family: 'Varela Round', sans-serif;
  margin-top:10px;
  margin-bottom:10px;
  line-height: 1.2;
}

button.login{
  font-family: 'Varela Round', sans-serif;
  margin:auto;
  margin-top:10px;
  outline:none;
  width:300px;
  height:60px;
  border: none;
  border-radius:40px;
  background-color:#70146a;
  font-size:20px;
  color:white;
  transition: background-color .5s ease-in-out;
}

button.login:hover{
  transition: background-color .5s ease-in-out;
  background-color:#fc5e21;
  cursor: pointer;
}

.google{
  margin-top:5px;
  color:white;
  font-size:15px;
}